<div class="space-between">
    <h1>Tasks<h1>
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newTask">New general task</button>
</div>
<%= render_tasks %>
<%= render partial: 'tasks/modal' %>