<div class="modal fade" id="newGroup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create new group</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_with model: @new_group do |f| %>
            <%= f.text_field :name, placeholder: "Group name" %>
            <%= f.text_field :icon, placeholder: "Image url" %>
            <%= f.submit "Create group" %>
        <% end %>
      </div>
    </div>
  </div>
</div>