<p>Hello <%= @user.name %>,<p>
<h1>Your groups</h1>
<div class="row">
    <%= render_groups %>
    <div class="col-3">
        <a href="<%= tasks_general_path %>">
            <div class="card w-100 h-100">
                <div class="image-setter">
                    <img src="https://www.spaciousbreath.com/wp-content/uploads/2018/03/Giving-birth-to-Life-1080x608.jpg" class="card-img-top" alt="..." onerror="this.onerror=null;this.src='/assets/error.jpg';">
                </div>
                <div class="card-body">
                    <h2><strong>General tasks</strong></h2>
                </div>
            </div>
        </a>
    </div>
    <div class="col-3">
        <button type="button" class="btn w-100 h-100 p-0" data-bs-toggle="modal" data-bs-target="#newGroup">
            <div class="card w-100 h-100 center-hard p-2" style="border: 1px solid #3778c2; background-color: transparent">
            <i class="fas fa-plus-circle" style="font-size: 80px; color: #3778c2"></i>
            </div>
        </button>
    </div>
</div>
<%= render partial: "groups/modal" %>