<div class="image-setter" style="border-radius: 5px">
    <img src="<%= @group.icon %>" class=\"card-img-top\" alt=\"...\"  onerror=\"this.onerror=null;this.src='/assets/error.jpg';\">
</div>
<div class="space-between p-1" style="margin-top: 10px">
    <h1><%= @group.name %></h1>
    <button class="btn btn-primary">New task</button>
</div>
<hr>