<section>
    <div class="card center">
      <div class="card-body">
          <h1>Log In</h1>
          <%= form_for @user do |f| %>
                <% @user.errors.full_messages.each do |error| %>
                  <strong><%= error %></strong><br />
                <% end %>
                <%= f.text_field :name, placeholder: "Name" %><br />
                <%= f.submit "Log in" %>
            <% end %>
            <p>Made with simple account login. No sign up needed.<p>
      </div>
    </div>
<section>